<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normal.css">
    <link rel="icon" href="/images/icono.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/ca385f949f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/amulya.css">
    <link rel="stylesheet" href="/css/admin_modif.css">
    <title>TravelXJujuy</title>
</head>
<body>
    <%- include('partials/headerAdmin') %>
    <main>
        <script src="/js/textValidator.js"></script>
        <div class="Principal_cont">
            <h1>Listado de productos actuales</h1>
            <div class="productos_cont" tabindex="1">
                <% for (let i = 0; i < products.length; i++){ %>
                    
                    <div class="Producto_cont">
                        <div class="Nombre_cont">
                            <h2><%= products[i].name %></h2>
                        </div>
                        <div class="imagen_cont">
                            <p id="textParagraph"><%=products[i].description%></p>
                            <img src=<%=products[i].img%> alt="imagen del producto">
                        </div>
                        <div class="detalles_producto_cont">
                            <div class="fil1">
                                <p>Region: <%=products[i].regions.name%></p>
                                <p>Servicio: <%=products[i].services.name%></p>
                            </div>
                            <div class="fil2">
                                <p><%=parseFloat(products[i].price).toFixed(2)%> $ Arg</p>
                                <p><%=products[i].lodgings.name%></p>
                            </div>
                        </div>
                        <div class="Botones_cont">
                            <button onclick="window.location.href='/admin/edit/<%= products[i].id%>'">Modificar</button>
                            <form action="/admin/delete/<%= products[i].id%>?_method=DELETE" method="POST">
                                <button type="submit">Eliminar</button>
                            </form>
                        </div>
                    </div>
                <% } %>
                
            </div>


        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>