<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<link rel="stylesheet" href="/css/listado-productos.css">
<body>
	<%- include('partials/header2') %>
    <!-- cards listado -->
    <main>
        <% productos.forEach(function (producto){ %>
            <div class="cards1">
                <h1><%= producto.nombre_product %></h1>
                <img src="<%= producto.imagen_product %>" alt="Imagen del producto">
                <span>Detalle:<%= producto.descripcion %> </span>
                <p>Precio: $<%= producto.precio_product %> </p>
                <p>Servicio: <%= producto.servicio_product %> </p>
                <p>Region: <%= producto.region_product %> </p>
                <div><a href="/producto/carrito" class="btn">Agregar al carrito</a></div>
            </div>
        <% }) %>
    </main>
    
<!-- footer -->
    <%- include('partials/footer') %>
</body>
